<footer class="site-footer" role="contentinfo">
  <div class="wrapper">
    <div class="footer-content">
    <div class="contact-info">
      <address>
        An Khanh Ward,<br>
        Thu Duc City,<br>
        Ho Chi Minh City,<br>
        Vietnam.
      </address>
      <p>
          <a class="footer-email"href="mailto: info@liamnguyen.dev">
            Mail: info@liamnguyen.dev
          </a>
      </p>
    </div>
  <!-- Some motivation code in here -->
    <blockquote>
        <h3>&#8220;The only limit to our realization of tomorrow is our doubts of today.&#8221;</h3> 
        <cite>&mdash; Franklin D. Roosevelt</cite>
    </blockquote>
    <div class="footer-links">
      <h5>Services</h5>
      <ul>
        <li><a href="/web-development-in-bristol.html" >Web Development</a></li>
        <li><a href="/wordpress-development-in-bristol.html" >Wordpress Development</a></li>
        <li><a href="/creative-development-in-bristol.html" >Creative Development</a></li>
        <li><a href="/front-end-development.html" >Front-end Development</a></li>
        <li><a href="/accessible-web-development-in-bristol.html" >Accessible Web Development</a></li>
        <li><a href="/web-design-in-bristol.html" >Web Design</a></li>
      </ul>
      
    </div>
    </div>
    <p class="copyright">
      &copy; Liam Nguyen - AI and Digital Solutions 2025    </p>
  </div>
</footer>
