<header class="main-header">
  <div class="wrapper">
    <a href="./index.html" class="logo">
    </a>
    <div class="dark-mode-toggle">

        <div class="dark-mode-toggle__icon">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" height="20" width="20">
                <path id="Vector" fill="#ffffff" class="fill stroke" stroke="#ffffff" stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M7.00005 8.99791c1.10345 0 1.99798 -0.89453 1.99798 -1.99798S8.1035 5.00195 7.00005 5.00195s-1.99797 0.89453 -1.99797 1.99798 0.89452 1.99798 1.99797 1.99798Z"
                    stroke-width="1"></path>
                <path id="Vector_2" class="stroke" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                    d="M7 0.5v1" stroke-width="1"></path>
                <path id="Vector_3" class="stroke" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                    d="M7 12.5v1" stroke-width="1"></path>
                <path id="Vector_4" class="stroke" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                    d="M13.5 7h-1" stroke-width="1"></path>
                <path id="Vector_5" class="stroke" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                    d="M1.5 7h-1" stroke-width="1"></path>
                <path id="Vector_6" class="stroke" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                    d="m11.6 2.3999 -0.71 0.71" stroke-width="1"></path>
                <path id="Vector_7" class="stroke" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                    d="m3.11002 10.8899 -0.71 0.71" stroke-width="1"></path>
                <path id="Vector_8" class="stroke" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                    d="m11.6 11.5999 -0.71 -0.71" stroke-width="1"></path>
                <path id="Vector_9" class="stroke" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                    d="m3.11002 3.1099 -0.71 -0.71" stroke-width="1"></path>
            </svg>
        </div>
        <label class="switch">
            <input type="checkbox" hidden id="theme-toggle">
            <div class="switch__wrapper">
                <div class="switch__toggle"></div>
            </div>
        </label>
        <div class="dark-mode-toggle__icon">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" height="20" width="20">
                <path fill="#ffffff" class="fill" stroke-linecap="round" stroke-linejoin="round"
                    d="M8 7c0.00471 -1.21237 0.32421 -2.40274 0.92723 -3.45452S10.3961 1.61657 11.44 1C10.6659 0.679515 9.83775 0.509809 9 0.5c-1.72391 0 -3.37721 0.68482 -4.59619 1.90381C3.18482 3.62279 2.5 5.27609 2.5 7s0.68482 3.3772 1.90381 4.5962C5.62279 12.8152 7.27609 13.5 9 13.5c0.84786 -0.006 1.6866 -0.1758 2.47 -0.5 -1.0495 -0.6128 -1.92131 -1.4883 -2.52974 -2.5404C8.33183 9.40759 8.00779 8.21528 8 7v0Z"
                    stroke-width="1">
                </path>
            </svg>
        </div>
    </div>
    <nav class="main-nav crt">
        <div class="mobile-logo"></div>
        <ul id="menu-main-menu" class="primary-nav">
            <li class="color-about menu-item menu-item-type-post_type menu-item-object-page"><a href="/about.html"
                    class="link--helike"><span>About</span></a></li>
            <li class="color-work menu-item menu-item-type-post_type_archive menu-item-object-work"><a
                    href="/work/index.html" class="link--helike"><span>Work</span></a></li>
            <li class="color-services menu-item menu-item-type-post_type menu-item-object-page"><a
                    href="/services/index.html" class="link--helike"><span>Services</span></a></li>
            <li class="color-contact menu-item menu-item-type-post_type menu-item-object-page"><a
                    href="/contact.html" class="link--helike"><span>Contact</span></a></li>
            <li class="color-thoughts menu-item menu-item-type-post_type menu-item-object-page"><a
                    href="/blog/index.html" class="link--helike"><span>Blog</span></a></li>
        </ul>
    </nav>
    <button class="hamburger hamburger2" aria-label="Menu" aria-expanded="false">
        <span class="bar bar1"></span>
        <span class="bar bar2"></span>
        <span class="bar bar3"></span>
        <span class="bar bar4"></span>
    </button>
  </div>
</header>